/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 62.5%;
}

.app__container {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./images/bgbody.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron {
  background-image: url("./images//bgheader.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 10rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

h1 {
  color: aliceblue;
  margin-left: 1rem;
}

p {
  color: aliceblue;
  font-size: 1rem;
  margin-left: 1rem;
}

.game {
  width: 36rem;
  height: 36rem;
  margin: auto;
  border: 3px solid pink;
  border-radius: 10px;
  background-color: rgb(159, 61, 204);
  color: aliceblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 1rem;
}

.space {
  width: 10rem;
  height: 10rem;
  border: 1px solid rgb(202, 33, 188);
  background-color: rgb(117, 26, 179);
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.space:hover {
  background-color: rgb(204, 126, 126);
  color: aliceblue;
  cursor: pointer;
}

.symbol {
  font-size: 2rem;
  text-align: center;
}
